body {
	position: relative;
	background-color: #e7e7e7;
}
.cover {
	width: 100%;
	height: 100px;
	background: none repeat scroll 0 0 #f4726d;
	border-bottom: 5px solid #ff726d;
	padding-top: 30px;
}
.cover h1 {
	padding: 0px;
	margin: 0px;
	color: white;
}
.menu {
	width: 100%;
	height: 40px;
	background-color: white;
	border-bottom: 1px solid #d2d2d2;
	text-align: right;
	padding-top: 10px;
}
.menu2 {
	width: 100%;
	height: 40px;
	text-align: right;
	padding-top: 10px;
	background-color: #333;
	border-top: 4px solid #252525;
	text-transform: uppercase;
}
.menu li, .menu2 li {
	padding-right: 20px;
}
.menu a, .menu2 a {
	color: #b4b4b4;
	text-decoration: uppercase;
}
.menu a:hover, .menu2 a:hover {
	color: #ff726d;
	text-decoration: none;
}
.trademark {
	text-align: center;
	background: #252525;
	width: 100%;
	height: 40px;
}
.content {
	background-color: white;
	padding-bottom: 20px;
}
.nav {
	margin-top: 0px;
	margin-bottom: 0px;
}
.main-nav li a {
	color: #333333;
}
.main-nav li a:hover {
	color: #ff726d;
	background-color : transparent;
}
.main-nav li:hover {
	border-left: 1px solid #ff726d;
	color: #ff726d;
	font-style: bold;
}
.main-nav li.active {
	border-left: 2px solid #ff726d;
	color: ff726d;
}
.main-nav li.active a {
	color: #ff726d;
}
.main-nav .nav {
	display: none;
}
.main-nav .nav li {
	padding-left: 10px;
}
.main-nav .active .nav {
	display: block;
}
.sidebar {
	position: relative;
}
.sidebar .main-nav {
	width: 100%;
	position: absolute;
	top: 10px;
}
.gotop {
	position: fixed;
	bottom: 20px;
	right: 10px;
}
blockquote {
	border-left: 5px solid #ff726d;
}
.details {
	text-align: center;
}
.index-cover {
	width: 100%;
	height: 500px;
	background: url('/img/header.jpg') no-repeat scroll 0 0 #f4726d;
	border-bottom: 5px solid #ff726d;
	padding-top: 50px;
	position: relative;
	color: white;
}
.index-cover h1, .index-cover h3, .cover h1 {
	font-family: 'Lobster', cursive;
}
.index-cover h1 {
	font-size: 4em;
}
.index-cover h3 {
	color: #ad4844;
}
.vid {
	position: absolute;
	bottom: -150px;
	left: 29%;
	z-index: 50;
}
.index-cover .btn-danger {
	width: 180px;
	padding: 10px;
	font-size: 1.6em;
	background-color: #ad4844;
	border: 0px;
}